---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$text-color:       #111;
$background-color: #fdfdfd;
$arc5-color:      #E3006A;
$arc-color:      #4C125A;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.disabled {
    background:#ccc;
    border-color: #ccc;
    text-shadow:none;
    pointer-events: none;
    cursor: default;
}

// Import partials from `sass_dir` (defaults to `_sass`)

#map {
  iframe {
    height: 100vh;
    margin-bottom: -3em;
  }
}

body {
  img {
    max-width: 100%;
  };
}

a {
  text-decoration: none;
  color: $arc5-color;
  &:hover {
    color:$arc-color;
  }
}

header, footer {
  text-align: center;
  padding: 5em 0 2.5em 0 ;
  background-color: $arc-color;
  color : white;


  h2 a {
    color : white
  }

  a:hover {
    color : $arc5-color;
  }
}

header {
  img {
    width: 60%;
    padding-bottom: 2em;
  }
}

#jumbo {

  text-align: center;
  list-style-type : none;
  padding-top: 2em;

  li {
    display : inline;
    padding : 0 0.5em;
  }
  a {
    color : $arc5-color;
    &:hover {
      background: white;
    }
  }
}

footer {
  width: 100%;
  #logos {
    padding-top: 1em;
    .logo-RAA {
      img {
        padding-top: 1.7em;
      }
    }
  }
}

#main {
  margin-top: 2em;
  min-height : 70vh;

  h4, h5 {
    text-align: center;
  }

}
