<footer>
  <div class="container">
  <p>
    Cette enquête a été réalisée en 2016 par <a href="http://clementrenaud.com">Clément Renaud</a>
    <br>
    pour l'<a href="http://arc5-cultures.rhonealpes.fr" title="Site de l'ARC5">ARC 5, CULTURES, SCIENCES, SOCIÉTÉS ET MÉDIATIONS</a>.
  </p>
    <div id="logos" class="row">
      <div class="four columns">
        <a href="http://www.arc.rhonealpes.fr/"><img src="/img/logo-arc-negatif-72dpi.png" alt="Logo ARC"></a>
      </div>

      <div class="four columns">
        <a href="http://arc5-cultures.rhonealpes.fr"><img src="/img/logo-arc5-72dpi-arc5only.png" alt="Logo ARC5"></a>
      </div>

      <div class="four columns">
        <a class="logo-RAA" href="http://www.auvergnerhonealpes.eu/"><img src="/img/RAA-Logo-png.png" alt="Logo Région"></a>
      </div>

    </div>
  </div>
</footer>
